# React App Environment Variables
VITE_REACT_APP_API_URL=http://localhost:5000

# Firebase Configuration
VITE_FIREBASE_API_KEY=AIzaSyDKje168qATeJ2VJD93SCDqMidW2GQ23Hs
VITE_FIREBASE_AUTH_DOMAIN=dengue-prediction-9de60.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=dengue-prediction-9de60
VITE_FIREBASE_STORAGE_BUCKET=prediction-20333.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=726224439904
VITE_FIREBASE_APP_ID=1:726224439904:web:8ba0e3e80d0035d9d99105
# Copy this file to .env and update the values as needed